# -----------------------------
#  DATA & MODEL ARTIFACTS
# -----------------------------
/data/*          
!.gitkeep        

# -----------------------------
#  PYTHON BUILD / CACHE FILES
# -----------------------------
__pycache__/     
*.py[cod]        
*.egg-info/     

# -----------------------------
#  EDITOR & TOOLING
# -----------------------------
.vscode/        

# -----------------------------
#  JUPYTER NOTEBOOK CHECKPOINTS
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
#  LOCAL ENVIRONMENTS
# -----------------------------
envs/            

# --- allow metadata CSVs in processed folder ---
!data/processed/
!data/processed/**/*.csv
